name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Increment Semantic Version
      uses: christian-draeger/increment-semantic-version@1.0.2
      with:
        current-version: '1.0.0-alpha0' 
        version-fragment: 'alpha'
    - name: xcode-build
      run: |
        xcodebuild clean build -project Algorithms.xcodeproj -scheme Algorithms -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.2' | xcpretty

      
      
          
      
    
